:root {
    --background-dark: rgb(33, 33, 33);
    --background-light: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.dark-mode {
    --background-light: rgb(33, 33, 33);
    --background-dark: rgb(255, 255, 255);
}

body, button, ::placeholder {
    background-color: var(--background-light);
    color: var(--background-dark);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.toggle {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 200px;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 10px;
    border: 1px solid orange;
}

.username, .password {
    margin: 5px;
}

input {
    border: none;
    border-bottom: 1px solid black;
}